{##
 # main.twig
 # 
 # Main template.
 # @author Patrick Emond <emondpd@mcmaster.ca>
 # @param boolean survey_url The URL of the survey interface.
 #}
{% extends "base_main.twig" %}

{% block javascript %}
  {{ parent() }}

  {% if survey_url %}
    <script type="text/javascript">
      $( function() {
        
        // Defines the layout when showing the survey pane.
        // Should only be visible when there is an active survey.
        var layout = $( "body" ).layout( {
          maskIframesOnResize: true,
          applyDefaultStyles: true,
          spacing_open: 8,
          spacing_closed: 16,
          slidable: true,
          south__size: 500,
          south__initClosed: false
        } );

        {% if webphone %}
          // process webphone button
          $( "#webphone" ).button( {
            text: false,
            icons: {
              primary: "ui-icon-power"
            }
          } ).click( function() {
            // open the web phone in a new tab
            window.open(
              "/webphone/?{{ webphone_parameters|raw }}",
              "other_tab",
              "status=0," +
              "toolbar=0," +
              "location=0," +
              "menubar=0," +
              "directories=0," +
              "resizable=0," +
              "width=330," +
              "height=230" );
            window.location.reload();
          } );
        {% endif %}
        
        {% if dialpad %}
          // process dialpad button
          $( "#dialpad" ).button( {
            text: false,
            icons: {
              primary: "ui-icon-person"
            }
          } ).click( function() {
            // open the dialing-pad dialog
            $( "#dialing_pad_slot" ).dialog( {
              title: "Dialing pad",
              modal: false,
              width: 180,
              height: 225,
              autoOpen: true,
              beforeClose: function( event, ui ) { $(this).html( "" ); }
            } );
            slot_load( "dialing_pad", "self", "dialing_pad" );
          } ).parent().buttonset();
        {% endif %}

      } );
    </script>
  {% endif %}
{% endblock javascript %}

{% block slot %}
  {{ parent() }}
  <div id="dialing_pad_slot"></div>
{% endblock slot %}

{% block app %}
  {% if survey_url %}<div class="ui-layout-center">{% endif %}
  {{ parent() }}
  {% if survey_url %}
    </div>
    <div class="ui-layout-south" id="survey_ui">
      <object style="width:100%; height: 100%; position: absolute;"
              data="{% autoescape false %}{{ survey_url }}{% endautoescape %}"
              id="survey_object">
        <p>Your browser is not supported, try with Firefox 3.6+</p>
      </object>
    </div>
  {% endif %}
{% endblock app %}

{% block shortcuts %}
  <span>
    {% if webphone %}
      <button id="webphone">start web phone</button>
    {% endif %}
    {% if dialpad %}
      <button id="dialpad">dialing pad</button>
    {% endif %}
  </span>
{% endblock shortcuts %}
