{##
 # participant_list.twig
 # 
 # Lists participants.
 # @author Patrick Emond <emondpd@mcmaster.ca>
 # @see base_list.twig for parameters
 #}
{% extends "site_restricted_list.twig" %}
{% from 'macros.twig' import note_widget %}

{% block javascript %}

  {{ parent() }}
  {% if assignment_type|default( false ) %}
    <script type="text/javascript">
      $( function() {
        // assignment button
        $( "button.{{ widget.full }}_assign" ).button( {
          text: false,
          icons: { primary: "ui-icon-play" }
        } ).click( function() {
          var id_string = $(this).attr( 'id' );
          var id = parseInt( id_string.substring( id_string.lastIndexOf('_') + 1 ) );
          if( ajax_push( "assignment", "begin", { "participant_id": id } ) )
            window.location.reload();
        } );
      } );
    </script>
  {% endif %}

{% endblock javascript %}

{% block header_button_columns %}
  <th width="1%"></th>
  {% if assignment_type|default( false ) %}<th width="1%"></th>{% endif %}
{% endblock header_button_columns %}

{% block button_columns %}
  <td>{{ note_widget( widget.full,
                      "participant",
                      row.id,
                      false,
                      row.columns['participant.note_count'] ) }}</td>
  {% if assignment_type|default( false ) %}
    <td>
      <button class="{{ widget.full }}_assign"
              id="{{ widget.full }}_assign_{{ row.id }}"
        >begin {{ assignment_type }} assignment</button>
    </td>
  {% endif %}
{% endblock button_columns %}
