{##
 # participant_view.twig
 # 
 # View participant details.
 # @author Patrick Emond <emondpd@mcmaster.ca>
 # @see base_view.twig for parameters
 #}
{% extends "base_view.twig" %}

{% block javascript %}

  {{ parent() }}
  {% if allow_assign %}
    <script type="text/javascript">
      $( function() {
        // assign button
        $( function () {
          $( "button.{{ widget.full }}_assign" ).click( function() {
            if( ajax_push( "assignment", "begin", { "participant_id": {{ id }} } ) )
              window.location.reload();
          } );
        } );
      } );
    </script>
  {% endif %}

{% endblock javascript %}

{% block record %}

  {{ parent() }}
  {% from 'macros.twig' import include_list %}
  {{ include_list( 'address', address_list|default(false), true ) }}
  {{ include_list( 'phone', phone_list|default(false), true ) }}
  {{ include_list( 'appointment', appointment_list|default(false), true ) }}
  {{ include_list( 'availability', availability_list|default(false), true ) }}
  {{ include_list( 'consent', consent_list|default(false), true ) }}
  {{ include_list( 'assignment', assignment_list|default(false), true ) }}
  
{% endblock record %}

{% block record_items %}

  {{ parent() }}
  {% if allow_assign %}
    <button class="{{ widget.full }}_assign"
            style="position: absolute; top: 0.2em; right: 0.1em;">assign now</button>
  {% endif %}

{% endblock record_items %}
