{##
 # participant_list.twig
 # 
 # Lists participants.
 # @author Patrick Emond <emondpd@mcmaster.ca>
 # @see base_list.twig for parameters
 #}
{% extends "site_restricted_list.twig" %}

{% from 'macros.twig' import note_widget %}

{% block javascript %}

  {{ parent() }}

  {% if assignment_type|default( false ) %}
    <script type="text/javascript">
      $( function() {
        // assignment button
        $( "button.{{ widget.full }}_assign" ).button( {
          text: false,
          icons: { primary: "ui-icon-play" }
        } ).click( function() {
          var id_string = $(this).attr( 'id' );
          var participant_id = parseInt( id_string.substring( id_string.lastIndexOf('_') + 1 ) );
          if( ajax_push( "assignment", "begin", { "participant_id": participant_id } ) )
            window.location.reload();
        } );
      } );
    </script>
  {% elseif state_list is defined %}
    <script type="text/javascript">
      $( function() {
        // reload page if state selector is changed
        $( "#{{ widget.full }}__restrict_state_id" ).change( function() {
          var state_id = $( "#{{ widget.full }}__restrict_state_id option:selected" ).val();
          slot_load( {{ slot }}, "{{ widget.subject }}", "{{ widget.name }}", 
                     { "restrict_state_id": state_id } );
        } );
      } );
    </script>
  {% endif %}

{% endblock javascript %}

{% block prelist %}
  
  {% if not assignment_type|default( false ) and state_list is defined %}
    {% set restrict_state_id = restrict_state_id|default(0) %}
    <label for="{{ widget.full }}__restrict_state_id">Restrict to state:</label>
    <select id="{{ widget.full }}__restrict_state_id" class="ui-state-default"
            style="margin-top:4px;margin-bottom:4px;">
      <option {% if "" == restrict_state_id %}selected{% endif %}
              value="">No restriction</option>
      {% for id, name in state_list %}
        <option {% if id == restrict_state_id %}selected{% endif %}
                value="{{ id }}">{{ name }}</option>
      {% endfor %}
    </select>
  {% endif %}
  {{ parent() }}

{% endblock prelist %}

{% block header_button_columns %}
  <th width="1%"></th>
  {% if assignment_type|default( false ) %}<th width="1%"></th>{% endif %}
{% endblock header_button_columns %}

{% block button_columns %}
  <td>{{ note_widget( widget.full,
                      "participant",
                      row.id,
                      false,
                      row.columns['participant.note_count'] ) }}</td>
  {% if assignment_type|default( false ) %}
    <td>
      <button class="{{ widget.full }}_assign"
              id="{{ widget.full }}_assign_{{ row.id }}"
        >begin {{ assignment_type }} assignment</button>
    </td>
  {% endif %}
{% endblock button_columns %}
